<div id="add-edit-new-category-container">
    <h1>Add a New Category</h1>
    <div id="errors-container">
      <% if (errors) { %>
      <ul>
        <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
        <% }) %>
      </ul>
      <% } %>
    </div>
    <div id="add-edit-new-category-form-container">
        <form action="/addNewCategory" method="post">
            <div id="input-container">
                <label for="name">Name </label>
                <input
                type="text"
                name="name"
                id="name"
                value="<%=oldData.name%>"
                />
            </div>

            <div id="input-container">
                <label for="description">Description</label>
                <textarea id="description" name="description" >
                <%=oldData.description%>
                </textarea>

                <div id="input-container">
                <label for="imgurl">Image URL</label>
                <input
                    id="imgurl"
                    name="imgurl"
                    type="text"
                    value="<%=oldData.imgurl%>"
                />
                </div>
            </div>

            <div id="edit-category-buttons">
                <button type="submit">Save</button>
            </div>
        </form>
    </div>

</div>