<div id="edit-categories-container">
    <p>Warning: If a category is deleted it will delete all of the plants within that category. Only edit categories with extreme caution!!!</p>

    <div id="add-new-category-button-container">
        <button id="add-new-category-button">+ Add New Category</button>
    </div>

    <ul id="categories-container">
        <% categories.forEach(category =>{ %>
            <li id="category-item">
                <img src="<%=category.imgurl %>" alt="">
                <h3 id="category-name"><%= category.name %></h3>
                <a href="/editCategory/<%=category.categoryid %>" id="edit-category-button">Edit Category</a>     
            </li>
        <% }) %>
    </ul>
    
</div>

<script>
    const addNewCategoryButton = document.getElementById("add-new-category-button");
    addNewCategoryButton.addEventListener("click", ()=>{
        window.location.href = "/newCategory";
    })
</script>