<!-- views/partials/navbar.ejs -->
<nav>
  <div id="searchbar-container">
    <form action="search" method="post">
      <div id="searchbar">
        <input type="text" placeholder="Search" name="search" id="search" />
        <button><span class="material-symbols-outlined"> search </span></button>
      </div>
    </form>
  </div>
</nav>
